.services {
  padding: 20px 0;
  background-color: $primary-color;

  @include mediaSm {
    padding: 60px 0;
  }
}

.services-list {
  @include ul-reset;
  display: flex;
  flex-direction: column;

  @include mediaSm {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__item {
    text-align: center;
    padding: 10px;

    @include mediaSm {
      width: 50%;
    }

    @include mediaLg {
      width: 25%;
    }
  }

  &__title {
    @include montserrat-medium;
    text-transform: uppercase;
    font-size: 12px;
  }

  .icons {
    fill: #656565;
    height: 40px;
  }
}
